@charset "UTF-8";
* {
  box-sizing: border-box;
}
/* 字体图标 */
.icon {
  font-size: 32px;
  color: #aaa;
}
/* 最外层 用于控制整体展示的宽高 */
section {
  position: relative;
  width: 980px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}
/* video宽高为100% */
.video-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  padding: 70px 0 80px 0;
}
.video1 {
  display: block;
  margin: 0 auto;
}
/* video底部操作栏 */
.video-controls {
  width: 100%;
  height: 41px;
  background: #333;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
/* 视频右侧Logo */
.play-logo {
  display: block;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 6;
}
.play-logo>img {
  width: 152px;
  height: 50px;
  vertical-align: middle;
}
/**  播放进度条 **/
.video-player .video-controls .video-seek {
  width: 100%;
  height: 4px;
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  /*border-radius: 2px;*/
  background-color: #414141;
}
.seek-con {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 200px;
  margin-top: -2px;
  pointer-events: none;
  border-radius: 50%;
  background: #fff;
  z-index: 6;
}
.seek-buffer {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 200px;
  margin-top: -2px;
  border-radius: 50%;
  background-color: #eee;
  opacity: .5;
  z-index: 6;
}
.seek-slider {
  width: 202px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #f11c2a;
  z-index: 5;
}
.viewBox {
  display: block;
  min-width: 200px;
  line-height: 20px;
  text-align: left;
  padding: 5px 0  0 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.viewBox > span {
  color: #ddd;
  font-size: 14px;
}
.viewBox > b {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #aaa;
  margin: 0 5px;
  vertical-align: middle;
}
/* 播放/暂停 .active切换display */
.video-play {
  float: left;
}
.video-play>a, .video-screen>a {
  cursor: pointer;
  display: none;
  width: 32px;
  height: 32px;
  padding: 5px;
}
.video-play a.active, .video-screen a.active {
  display: block; /** 通过添加.active 切换display显示状态 **/
}
/* 重播 */
.video-replay {
  cursor: pointer;
  float: left;
  width: 32px;
  height: 32px;
  padding-top: 10px;
  margin-left: 10px;
}
.icon-replay, .icon-feedback {
  font-size: 22px;
}
.icon-volume0 , .icon-volume1 , .icon-full-screen , .icon-quit-full-screen {
  font-size: 21px;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 右侧控制项 */
.rt-controls {
  text-align: right;
  line-height: 26px;
}
.rt-controls>li {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.rt-controls>li>a {
  vertical-align: top;
}
.video-feedback {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding-top: 10px;
}
.video-solution>a {
  vertical-align: middle;
  position: relative;
  top: 3px;
}
/*** 弹幕开关 ***/
.switch {
  position: relative;
  float: left;
  width: 68px;
  margin: 0;
  top: 1px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.switch-checkbox {
  display: none;
}
.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #232323;
  border-radius: 20px;
  background-color: #232323;
}
.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-inner::before, .switch-inner::after {
  display: block;
  float: right;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
.switch-inner::after {
  content: attr(data-on);
  padding-left: 7px;
  color: #aaa;
  text-align: left;
}
.switch-inner::before {
  content: attr(data-off);
  padding-right: 7px;
  color: #aaa;
  text-align: right;
}
.switch-switch {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin: 1px;
  background: #FFFFFF;
  top: 0;
  bottom: 0;
  right: 46px;
  border: 1px solid #232323;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
  right: 0;
  background: #f11c2a;
}
.video-solution {
  padding-top: 10px;
  position: relative;
}
.video-solution>a {
  cursor: pointer;
  padding: 2px 10px 3px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
  background: #232323;
  border-radius: 12px;
}
.video-solution .droplist {
  display: none;
  width: 50px;
  height: 86px;
  background: rgba(255,255,255,.3);
  text-align: center;
  position: absolute;
  bottom: 36px;
  left: -3px;
  border-radius: 2px;
  padding: 5px;
}
.video-solution:hover .droplist, .video-solution:active .droplist {
  display: block;
}
.video-solution .droplist>a {
  display: block;
  font-size: 12px;
  color: #ddd;
  cursor: pointer;
  text-align: center;
}
.droplist>a:last-child {
  margin-bottom: 0;
}
.droplist>a:hover, .droplist>a:focus ,.droplist>a.current {
  color: #f11c2a;
}

/** 暂停/播放 mask **/
.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}
.mask>.layout {

}
.mask .layout>a {
  display: none;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 10;
  cursor: pointer;
}
.mask .layout>a .icon {
  font-size: 40px;
  color: #fff;
}
.mask .layout>a.active {
  display: block;
}

/** 音量条 **/
.video-volumn {
  float:left;
  width:120px;
  height:26px;
  color:#fff;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
}
.video-volumn>a.mute, .video-volume>a.unmute {
  float:left;
  display: none;
  width:20px;
  height:17px;
  cursor: pointer;
  padding: 5px;
}
.video-volume>a.active {
  display: block;
}
.video-volumn .line {
  float: right;
  width: 80px;
  background: #232323;
  margin-top: 9px;
  margin-left: 8px;
  display: inline;
  border-radius: 10px;
}
.video-volumn .tracks {
  float: left;
  width: 90%;
  height: 10px;
  padding-left: 6px;
  position: relative;
  border-radius: 10px;
  /*background: #f11c2a;*/
}
.video-volumn .tracks .volumn-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 10px;
  display: inline;
  background-repeat: repeat-x;
  min-width: 2px;
  background: #f11c2a;
  border-radius: 10px;
}
.video-volumn .tracks .volumn-bar .l {
  float: left;
  width: 4px;
  height: 10px;
  margin-left: -3px;
  margin-top: 0;
  font-size: 0;
  position: relative;
  display: inline;
}
.video-volumn .tracks .volumn-bar .r {
  float: right;
  width: 3px;
  height: 10px;
  background-position: -1px -95px;
  margin-right: -3px;
  margin-top: 0;
  font-size: 0;
  position: absolute;
  right: 0;
  display: inline;
}
.video-volumn .tracks .volumn-bar .point {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  margin-right: -5px;
  margin-top: -2px;
  border-radius: 50%;
  background: #fff;
}

/*** 直播前置广告 ***/
.adv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.adv>img {
  width: 100%;
  height: 100%;
}
.adv-btn {
  display: inline-block;
  width: 152px;
  height: 30px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: #f11c2a;
  vertical-align: middle;
  background: rgba(35,35,35,.8);
  border: 1px solid #f11c2a;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 6;
}
.adv-btn>b {
  font-style: normal;
  margin: 0 3px;
}

/***  载入中  ***/
.video-prompt {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 7;
  color: #fff;
  width: 200px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.loading{
  width: 150px;
  height: 4px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top:20px;
  position: relative;
  background: #2b2b2b;
  overflow: hidden;
}
.loading span{
  display:block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #fff;
  -webkit-animation: changePosition 4s linear infinite;
}
@-webkit-keyframes changePosition{
  0%{
    -webkit-transform: translate(-150px);
  }
  50%{
    -webkit-transform: translate(0);
  }
  100%{
    -webkit-transform: translate(150px);
  }
}
/***  网络不佳  ***/
.bad-network {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 7;
  color: #fff;
  width: 200px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.bad-network>img {
  width: 64px;
  height: 50px;
  vertical-align: center;
}
.bad-network>.reload-btn {
  display: inline-block;
  width: 132px;
  height: 42px;
  font-size: 14px;
  color: #f11c2a;
  line-height: 30px;
  padding: 5px;
  text-align: center;
  background: transparent;
  border: 1px solid #f11c2a;
  border-radius: 23px;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
/*** 主播不在  ****/
.no-poster {
  width: 450px;
  height: auto;
  position: absolute;
  top: 28%;
  left: 27%;
  z-index: 7;
  text-align: center;
  margin: 0 auto;
}
.no-poster .post-list {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  justify-content: space-between;
}
.no-poster .post-list>li {
  width: 216px;
  height: 173px;
  overflow: hidden;
  background: #3c3c3c;
  position: relative;
}
.post-list>li img {
  width: 216px;
  height: 120px;
}
.post-list .post-btn {
  display: inline-block;
  width: 81px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: #ff921a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 0;
}
.post-btn>b {
  font-style: normal;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.post-btn>.icon {
  font-size: 18px;
  color: #fff;
  vertical-align: top;
  margin-left: 6px;
}
.post-info {
  padding: 5px 5px 15px 5px;
  font-size: 14px;
  overflow: hidden;
}
.post-info>h2 {
  padding: 0;
  margin: 0;
}
.post-theme span {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #888;
  text-align: right;
}
.post-theme a {
  float: left;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.post-info .icon-usergroup {
  font-size: 14px;
  color: #999;
  margin-right: 4px;
}
.poster-name a {
  font-size: 12px;
  color: #999;
  display: block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.poster-name span {
  margin-left: 8px;
}
.no-poster>p {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}
.reload-btn {
  color: #f11c2a;
  text-decoration: none;
}
/*** flash提示  ***/
.flash-tips {
  position: absolute;
  top: 35%;
  left: 33%;
  z-index: 7;
  color: #fff;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.flash-tips>img {
  width: 72px;
  height: 72px;
  vertical-align: center;
}